<div id="navlist">
  <!-- <div class="col-6"> -->
  <a routerLink="/" routerLinkActive="active"
     class="logo"><img src="../../../assets/martlogo/logo.png" alt="" /> Local Mart</a
  >
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/clothings" routerLinkActive="active">Clothing </a>
  <a routerLink="/electronics" routerLinkActive="active">Electronic </a>
  <a routerLink="/grocerys" routerLinkActive="active">Grocery</a>
  <a routerLink="/login" routerLinkActive="active">Sign In</a>
  <a routerLink="/cart"><i class="fa fa-shopping-cart" style="width: 50px; height: 50px; color: rgb(233, 145, 30);"></i> </a>
 
  <a routerLink="/profile" class="profile"><img src="../../../assets/martlogo/profile.png" style="width: 40px;" alt="" />
  </a>
    
  
  <ul class="dropdown">
    <!-- <button </button> -->
    <a href="#" class="dropbtn">Prime Servces</a>
    <ul class="dropdown-content">
      <a href="#">OTT</a>
      <a href="#">Within Hour</a>
      <a href=""><button class="ddbtn">register</button></a>
      <!-- <a href="#">register Now</a> -->
    </ul>
  </ul>
  <div class="search">
    <form action="#">
      <input type="text" placeholder=" Search here" name="search" />
      <button>
        <i class="fa fa-search" style="font-size: 18px">search </i>
      </button>
    </form>
 
  </div>

<router-outlet></router-outlet>
