#navlist {
  background-color: #498d73;
  display: flex;
  flex-direction: row;
  /* position: sticky;
  top: 0%; */
  width: 100%;
  height: 75px;
}
    
.logo img{
  width: 80px;
  height: 25px;
  margin-top: 0;

}
/* styling navlist anchor element */
#navlist a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 15px;
  padding-top: 20px;
  text-decoration: none;
  font-size: 18px;
}

.navlist-right{
  float:right;
}


.profile img{
border-radius: 15px;
width: 25px;
height: 25px;
}

/* hover effect of navlist anchor element */
#navlist a:hover {
  /* background-color: rgb(119, 179, 134); */
  color: black;
  font-size: 20px;
  /* margin-top: 5px; */
  /* border-radius: 15px; */
}
    
/* styling search bar */
.search input[type=text]{
  width:230px;
  height:40px;
  margin-top: 5px;
  border-radius:25px;
  border: none;
text-align: center;
}
    
.search{
  float:right;
  margin:10px;
  font-size: 20px;
  text-align: center;
}
/* .search::placeholder{

} */
    
.search button {
  background-color: #eee88fde;
  color: #070605;
  float: right;
  padding: 5px 5px;
  margin-right: 16px;
  margin-left: 8px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
height: 35px;
} 

.ddbtn{
  background-color:#eee88fde ;
  color: #070605;
  /* font-size: ; */
  border: none;
  height: 40px;
  border-radius: 30px;
}


.dropbtn {
  /* background-color: #4CAF50; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #53c79b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin-top: 45px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {background-color: #f1f1f1} */

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

/* .active{
  color: blue;
  font-size: 1000px;
} */

