<div class="container-fluid page ">
    <div class="row  justify-content-center">
        <div class="col-lg-8 bg-succes main">
            <img src="../../../assets/martlogo/profile.png" alt="">
            <h1>Name:</h1>
            <h1>mobile no:</h1>
            <div>
                <h1>Addresses:</h1>
                <h3>primary address</h3>
                <h3>secondary address</h3>
            </div>
            <h1>Wishlist:</h1>
        <div class="wishlist">
         <div class="row justify-content-center">
            <div class="prodlist col-lg-4 m-2">

            </div>
            <div class="prodlist col-lg-4 m-2">

            </div>
            <div class="prodlist col-lg-4 m-2">

            </div>
            <div class="prodlist col-lg-4 m-2">
 

        </div>
        </div>
        </div>
    </div>
</div>
</div>