<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12 bg-success mt-2 ">
            <h1 class="text-center fs-1"> Cart</h1>
            <h1 class="text-center">Product List</h1>
            <div class="row justify-content-evenly">
       
                <div class="col-lg-5 pro1">

                </div>
                <div class="col-lg-5 pro1">
                </div>

                </div>
                <div class="row p-5">
                <div class="col-lg-5 pro1">

                   
                </div>
            </div>

        </div>
    </div>
</div>