<div class="container-fluid">
    <div class="row  footer justify-content-center">
        <h1 class="text-center">this is footer</h1>
        <div class="col-lg-3">
            <ul>
                <h2> Get to Know Us</h2>
                <ul> About Us</ul>
                <ul> Careers</ul>
                <ul> Press Releases</ul>
                <ul>Our Cares</ul>
                <ul>Gift a Smile</ul>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul>
                <h2> Connect with Us</h2>
                
                <ul><a  href="https://www.facebook.com/" class="text-white">Facebook</a> </ul>
                <ul> Twitter </ul>
                <ul> Instagra</ul>
            </ul>
        </div>

        <div class="col-lg-3">
            <ul>
                <h2> Make Money with Us</h2>
                <ul> Sell on LocalMart</ul>
                <ul> Sell under LocalMart Accelerator</ul>
                <ul> LocalMart Global Selling</ul>
                <ul> Become an Affiliate</ul>
                <ul> Fulfilment by LocalMart</ul>
                <ul> Advertise Your Products</ul>
                <ul> LocalMart Pay on Merchants</ul>
            </ul>
        </div>

        <div class="col-lg-3">
            <ul>
                <h2>Let Us Help You</h2>
                <ul>COVID-19 and LocalMart</ul>
                <ul>Your Account</ul>
                <ul>Returns Centre</ul>
                <ul>100% Purchase Protection</ul>
                <ul>LocalMart App Download</ul>
                <ul>LocalMart Assistant Download</ul>
                <ul>Help</ul>

            </ul>

        </div>
        <p class="text-center">Conditions of Use & SalePrivacy NoticeInterest-Based Ads© 2021-2022, localmart.com,  or its affiliates</p>

    </div>
</div>