<mat-drawer-container class="adminPanel">
  <mat-drawer mode="side" opened class="col-3" id="sidebar">
    <h1 class="text-center">sidebar</h1>
  </mat-drawer>
  <mat-drawer-content class="col-9">
    <div class="pannel">
      <h1 class="text-center">Admin Panel</h1>
      <div class="d-flex justify-content-evenly">
        <div class="col-lg-3 sales">
          <app-sales></app-sales>
        </div>
        <div class="col-lg-3 sales">
          <app-cust></app-cust>
        </div>
        <div class="col-lg-3 sales">
          <app-prod></app-prod>
        </div>

      </div>
      <div class="">
        <app-employee></app-employee>
      </div>
    </div>
  
  </mat-drawer-content>
</mat-drawer-container>
