
<div class="container-fluid mt-4">
    <h1 class="text-primary text-center">Electronic Section</h1>
    <div class="row">
        <div class="d-flex justify-content-evenly">
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-evenly">
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-evenly">

            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-2 m-2">
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <img src="../../../../assets/clothing/jacket1.jpg" class="card-img-top" alt="..." />
                        <h3 class="card-title">Black Jacket</h3>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">buy</a>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>